Options -MultiViews
RewriteEngine On

DirectoryIndex /upload.html

ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

RewriteCond %{THE_REQUEST} \s\/404\.html\s [NC]
RewriteRule ^ /404? [R=301,L]
RewriteRule ^404$ /404.html [L]

RewriteCond %{THE_REQUEST} \s\/500\.html\s [NC]
RewriteRule ^ /500? [R=301,L]
RewriteRule ^500$ /500.html [L]

RewriteCond %{THE_REQUEST} \s\/upload\.html\s [NC]
RewriteRule ^ /upload? [R=301,L]
RewriteRule ^upload$ /upload.html [L]

RewriteCond %{THE_REQUEST} \s/download\.html\?fileId=(.*)\s [NC]
RewriteRule ^ /download/%1? [R=301,L]
RewriteRule ^download/(.*)$ /download.html?fileId=$1 [L]