body#upload{
    background-color: #2f80ed;

    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;

    #app{
        display: flex;
        flex-direction: column;
        gap: 40px;

        padding: 10px;
        max-width: 650px;

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            width: 100%;
            max-width: 350px;

            label{
                &[for=file]{
                    background-color: #2f80ed10;
                    box-sizing: border-box;
                    cursor: pointer;
                    transition: filter 150ms;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    border-radius: 5px;
                    gap: 10px;

                    &:active{
                        filter: brightness(.9);
                    }

                    i{
                        color: #ffffff;
                        font-size: 50px;
                    }
                    span{
                        width: fit-content;
                        color: #ffffff;
                        font-family: 'Roboto', sans-serif;
                        font-size: 14px;
                        font-weight: 500;
                        display: block;
                    }
                }
            }
            input{
                &[type=file]{
                    display: none;
                }
            }
            button{
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 7px;
                padding-bottom: 7px;
                background-color: white;
                color: #2f80ed;
                border-radius: 5px;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 500;
                box-shadow: 0px 0px 5px #ffffff40;
                margin-top: 20px;
                cursor: pointer;
                border: none;
                transition: filter 250ms, opacity 250ms;

                &[disabled]{
                    opacity: 0;
                    pointer-events: none;
                }
                &:active{
                    filter: brightness(.9);
                }
            }
        }
    }
}